* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}

ul {
  display: flex;
  gap: 24px;
}

img {
  width: 390px;
  height: 260px;
}

label{
    font-size: 16px;
    font-weight: 300;
    color: #1f2937;
    text-align: center;
    padding: 5px;
}

.image {
  object-fit: cover;
  border-radius: 15px;
}

.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 60px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
  line-height: 1.2;
  margin: 5px;
}

.main {
  height: 400px;
  justify-content: space-between;
}

.text {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  width: 500px;
}

.color-blue {
  background-color: #3882f6;
}

.button {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.item > .image {
  height: 200px;
  width: 200px;
}

.info-header {
  text-align: center;
  padding: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  flex-shrink: 0;
}
